## The extended IMDB 5000 Movie Database analysis

In [1]:
import pandas as pd  
import re  
from string import printable  
import time

Read the data from a .CSV fie and check the types

In [2]:
df = pd.read_csv("data/movie_metadata_upd.csv",parse_dates=[-2],infer_datetime_format=True)
df.head()

,Unnamed: 0,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,rel_date,tagline
0,0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,...,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,2009-12-17,Enter the World
1,1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,...,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,2007-05-24,"At the End of the World, the Adventure Begins"
2,2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,...,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,2015-11-12,The Dead Are Alive
3,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,...,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,2012-07-19,Rise
4,5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,...,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000,2012-03-08,Lost in Our World. Found in Another.

Let's see what types are there:

In [3]:
df.dtypes

Unnamed: 0                            int64
color                                object
director_name                        object
num_critic_for_reviews              float64
duration                            float64
director_facebook_likes             float64
actor_3_facebook_likes              float64
actor_2_name                         object
actor_1_facebook_likes              float64
gross                               float64
genres                               object
actor_1_name                         object
movie_title                          object
num_voted_users                       int64
cast_total_facebook_likes             int64
actor_3_name                         object
facenumber_in_poster                float64
plot_keywords                        object
movie_imdb_link                      object
num_user_for_reviews                float64
language                             object
country                              object
content_rating                       object
budget                              float64
title_year                          float64
actor_2_facebook_likes              float64
imdb_score                          float64
aspect_ratio                        float64
movie_facebook_likes                  int64
rel_date                     datetime64[ns]
tagline                              object
dtype: object

It's rather important to know on which day of week a movie was released. Also, what quarter? We add the corresponding columns for conveninece.

In [4]:
df["rel_weekday"] = df["rel_date"].dt.weekday  # Monday=0, Sunday=6
df["rel_quarter"] = df["rel_date"].dt.quarter  # Jan=Mar = 1, Apr-Jun = 2, etc.

In [5]:
df.head()

,Unnamed: 0,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,rel_date,tagline,rel_weekday,rel_quarter
0,0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,...,237000000.0,2009.0,936.0,7.9,1.78,33000,2009-12-17,Enter the World,3.0,4.0
1,1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,...,300000000.0,2007.0,5000.0,7.1,2.35,0,2007-05-24,"At the End of the World, the Adventure Begins",3.0,2.0
2,2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,...,245000000.0,2015.0,393.0,6.8,2.35,85000,2015-11-12,The Dead Are Alive,3.0,4.0
3,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,...,250000000.0,2012.0,23000.0,8.5,2.35,164000,2012-07-19,Rise,3.0,3.0
4,5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,...,263700000.0,2012.0,632.0,6.6,2.35,24000,2012-03-08,Lost in Our World. Found in Another.,3.0,1.0

Now load the name gazetteers

In [32]:
male_names = []
female_names = []

with open("data/person_female.txt","r") as f:
    for line in f:
        female_names.append(line.strip())
print("got a list of {} female names".format(len(female_names)))

with open("data/person_male.txt","r") as f:
    for line in f:
        male_names.append(line.strip())
print("got a list of {} male names".format(len(male_names)))

got a list of 5732 female names
got a list of 4363 male names

In [37]:
"""
create a list of M/F for a series of names
"""
def getSexList(ser):
    li = ["None"]*len(ser)
    _f_name = ser.astype(str).apply(lambda _: _.strip().split()[0])
    #print(_f_name)
    _male_idx = _f_name.isin(male_names)
    #print(_male_idx)
    _female_idx = _f_name.isin(female_names)
    for j in range(len(li)):
        #print(_male_idx[j])
        if _male_idx[j]:
            li[j] = "M"
        else:
            li[j] = "F"    
    return li

df["director_sex"] = getSexList(df["director_name"])
df["actor_1_sex"] = getSexList(df["actor_1_name"])
df["actor_2_sex"] = getSexList(df["actor_2_name"])
df["actor_3_sex"] = getSexList(df["actor_3_name"])

In [38]:
df["director_sex"].count()

4353

In [39]:
df["actor_1_sex"].count()

4353

In [40]:
df.iloc[:,29:]

,rel_date,tagline,rel_weekday,rel_quarter,director_sex,actor_1_sex,actor_2_sex,actor_3_sex
0,2009-12-17,Enter the World,3.0,4.0,M,F,M,M
1,2007-05-24,"At the End of the World, the Adventure Begins",3.0,2.0,F,M,F,M
2,2015-11-12,The Dead Are Alive,3.0,4.0,M,M,M,F
3,2012-07-19,Rise,3.0,3.0,M,M,F,M
4,2012-03-08,Lost in Our World. Found in Another.,3.0,1.0,M,M,F,F
5,2007-05-03,The battle within.,3.0,2.0,M,F,M,F
6,2011-01-06,Get tangled up.,3.0,1.0,M,M,F,F
7,2015-04-23,A new age begins,3.0,2.0,F,M,M,F
8,2009-07-15,Dark Secrets Revealed,2.0,3.0,M,M,M,M
9,2016-03-24,Who will win?,3.0,1.0,M,M,F,M
10,2006-06-29,NaN,3.0,2.0,M,M,M,F
11,2008-11-19,NaN,2.0,4.0,M,F,M,M
12,2006-07-06,Captain Jack is back.,3.0,3.0,F,M,F,M
13,2013-07-04,Never Take Off the Mask,3.0,3.0,F,M,F,M
14,2013-06-27,NaN,3.0,2.0,M,M,M,M
15,2008-06-05,Everything you know is about to change forever.,3.0,2.0,M,M,F,F
16,2012-04-25,Avengers Assemble!,2.0,2.0,F,M,M,F
17,2011-05-19,NaN,3.0,2.0,M,M,M,M
18,2012-05-24,"This summer, he'll have to find the answers......",3.0,2.0,M,F,M,F
19,2014-12-26,The Defining Chapter,4.0,4.0,M,M,M,M
20,2012-07-04,His past was kept from him. His search for ans...,2.0,3.0,M,F,M,M
21,2010-05-13,The untold story behind the legend.,3.0,2.0,M,F,M,M
22,2013-12-26,Beyond darkness... beyond desolation... lies t...,3.0,4.0,M,M,M,M
23,2007-12-26,"""It is the Alethiometer. It tells the truth. A...",2.0,4.0,M,M,F,F
24,2005-12-14,The eighth wonder of the world.,2.0,4.0,M,F,M,M
25,1997-12-18,Experience It Like Never Before (3D re-release),3.0,4.0,M,M,F,F
26,2016-04-28,Whose side are you on?,3.0,2.0,M,M,F,M
27,2012-04-12,The Battle for Earth Begins at Sea,3.0,2.0,M,M,M,F
28,2015-06-11,The park is open.,3.0,2.0,M,M,F,M
29,2012-11-22,NaN,3.0,4.0,M,M,F,M
...,...,...,...,...,...,...,...,...
4323,1998-04-02,Are all men bastards...or just misunderstood?,3.0,2.0,M,F,M,M
4324,2014-05-01,Leave no loose ends,3.0,2.0,M,F,M,M
4325,2002-01-15,NaN,1.0,1.0,M,M,M,M
4326,2010-04-29,Have you ever considered it?,3.0,2.0,M,M,F,M
4327,1991-07-05,NaN,4.0,3.0,M,M,M,F
4328,2015-10-02,NaN,4.0,4.0,M,F,F,M
4329,2013-02-14,Getting divorced does funny things to a girl,3.0,1.0,M,F,F,M
4330,2003-07-25,In every man's life there's a turning point,4.0,3.0,M,F,F,F
4331,2015-07-02,NaN,3.0,3.0,M,F,F,F
4332,2011-10-15,One of the scariest movies ever!!!,5.0,4.0,M,M,F,M
4333,2007-04-27,NaN,4.0,2.0,M,F,F,F
4334,NaT,NaN,NaN,NaN,M,M,F,F
4335,NaT,NaN,NaN,NaN,M,F,F,F
4336,2013-09-18,NaN,2.0,3.0,M,M,M,M
4337,2004-09-01,"When you don't have a choice, you change.",2.0,3.0,M,F,F,F
4338,2002-03-07,NaN,3.0,1.0,M,F,F,F
4339,NaT,NaN,NaN,NaN,M,M,M,F
4340,1997-12-27,The power of suggestion.,5.0,4.0,M,F,F,F
4341,2004-06-11,NaN,4.0,2.0,M,F,M,M
4342,2012-01-20,It's one hot mess!,4.0,1.0,M,F,M,M
4343,NaT,Sometimes you've got to break the rules,NaN,NaN,F,M,M,M
4344,2005-08-25,"If you always want what you can't have, what d...",3.0,3.0,M,M,M,F
4345,2005-01-28,Deliver unspeakable terror or lose everyone yo...,4.0,1.0,M,M,M,F
4346,1993-06-24,With a guitar in his hand and a price on his h...,3.0,2.0,M,M,M,F
4347,2005-04-23,3 Lives 1 Destiny...,5.0,2.0,M,M,M,F
4348,2011-11-04,NaN,4.0,4.0,M,M,F,F
4349,2013-10-12,NaN,5.0,4.0,M,M,F,F
4350,2013-01-26,NaN,5.0,1.0,M,F,M,M
4351,2012-08-10,Sometimes home is far away from home.,4.0,3.0,M,M,M,F
4352,2005-09-30,"30 days, $1100, For an Ordinary Guy to Get a D...",4.0,3.0,M,M,M,M